.list-head{
    box-sizing: border-box;
    box-shadow: 0px 2px 2px gray;
    margin-bottom: 5px;
}

.list-head-content{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.list-head-content-header{

}

.list-head-content-header-leadtext{
    margin: 0;
}

.list-head-content-header-description{
    font-size: 1em;
    color: grey;
}

.list-head-content-actionpanel{

}